<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title>My items</title>
</head>
<style>
    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }
</style>
<body>
<div class="page-wrapper">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" ><a href="myitem">My items</a></span>
        <a class="float-right" href="/add" title="Add a New Item">Add a Item</a>
    </nav>
<div class="container">



        <form class="add-player-form" action="/edit/<%= data %>" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="item-name">Item Name</label>
                    <input type="text" class="form-control" name="item_name" id="item-name" value="test" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Item url pic</label>
                    <input type="text" class="form-control" name="item_url_pic" id="item-pic" value="none" required>
                </div>     
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" name="item_price" id="price" placeholder="price" value="price" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="category">category</label>
                    <select id="category" name="item_category" class="form-control" required>
                        <option selected>test</option>
                        <option>Electronics</option>
                        <option>Clothes</option>
                        <option>Books</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update Item</button>
        </form>
</div>
</div>
</body>
</html>