<!DOCTYPE html>
<html>
  <head>
    <title>My Web</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name.title %></h1>
    <p>Welcome to <%= name.title2 %></p>
    <a href="/myitem">My items</a>
  </body>
</html>